<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ict.ex.mapper.EmpMapper">
    <select id="getList" resultType="edu.ict.ex.vo.EmpVO"> <!-- 리스트 타입이어도 괄호안에이쓴ㄴ VO를 적음 -->
        select * from emp order by empno
    </select>
    <insert id="insert">
    	insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) values (#{empno} ,#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno} )
    </insert>
    
<!--     <insert id="insert">
    	INSERT INTO EMP VALUES (#{empno} ,#{ename},#{job},#{mgr},#{hiredate2},#{sal},#{comm},#{deptno})
    </insert> -->
    <select id="getTotal" resultType="int">
    select count(*) from emp
    </select>
    
    <select id="getListWithPageing" resultType="EmpVO"> <!-- 리스트 타입이어도 괄호안에이쓴ㄴ VO를 적음 -->
        <![CDATA[
         SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                          SELECT *  FROM emp order by empno desc
                ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
         ]]>
    </select>
    
        <select id="getEmpDeptList" resultType="EmpVO"> <!-- 리스트 타입이어도 괄호안에이쓴ㄴ VO를 적음 -->
        <![CDATA[
         select * from emp , dept where emp.DEPTNO = dept.DEPTNO
         ]]>
    </select>
    
    <!-- property 는 setdeptno  같은 느낌 column DB테이블의 deptno임 그리고 연결-->
  <resultMap id="empMap" type="EmpVO" >
       <id property="empno" column="empno"/>
       <result property="ename" column="ename"/>
       <result property="job" column="job"/>
       <result property="mgr" column="mgr"/>
       <result property="hiredate" column="hiredate"/>
       <result property="sal" column="sal"/>
       <result property="comm" column="comm"/>
       <result property="deptno" column="deptno"/>
       <collection property="deptList" resultMap="detpSalMap"></collection>
    </resultMap>
    
    <resultMap id="detpMap" type="DeptEmpVO">
       <result property="deptno" column="deptno"/>
       <result property="dname" column="dname"/>
       <result property="loc" column="loc"/>
       <collection property="empList" resultMap="empMap"></collection>
    </resultMap>
    
      <delete id="delete">
     	delete from emp where empno = #{empno}
     </delete>
    
   <!--  절대 resultType 으로 하지 말것 -->
<!--     <select id="getDeptEmpList" resultMap="detpMap">
       <![CDATA[
             select * from emp, dept where emp.deptno = dept.deptno
        ]]>
    </select>

    <resultMap id="salMap" type="SalgradeVO">
       <result property="grade" column="grade"/>
       <result property="losal" column="losal"/>
       <result property="hisal" column="hisal"/>
       <collection property="empList" resultMap="empMap"></collection>
    </resultMap>
     
    <select id="getEmpSalList" resultMap="salMap">
       <![CDATA[
              SELECT ENAME, SAL, GRADE FROM EMP, SALGRADE WHERE SAL BETWEEN LOSAL AND HISAL
        ]]>
    </select>
     
    
    <select id="getInfo" resultMap="salMap">
       <![CDATA[
              SELECT ENAME, SAL, emp.deptno , loc, GRADE FROM EMP join dept on emp.deptno = dept.deptno join SALGRADE on EMP.SAL BETWEEN SALGRADE.LOSAL AND SALGRADE.HISAL

        ]]>
    </select>
     
	<resultMap id="detpSalMap" type="DeptVO">
       <result property="deptno" column="deptno"/>
       <result property="dname" column="dname"/>
       <result property="loc" column="loc"/>
    </resultMap>
    
    1대1방식 association 사용
	<resultMap id="deptOneMap" type="DeptVO">
       <result property="deptno" column="deptno"/>
       <result property="dname" column="dname"/>
       <result property="loc" column="loc"/>
    </resultMap>
     
       <resultMap id="empDeptMap" type="EmpDeptVO" >
       <id property="empno" column="empno"/>
       <result property="ename" column="ename"/>
       <result property="job" column="job"/>
       <result property="mgr" column="mgr"/>
       <result property="hiredate" column="hiredate"/>
       <result property="sal" column="sal"/>
       <result property="comm" column="comm"/>
       <result property="deptno" column="deptno"/>
       <association property="dept" resultMap="deptOneMap" ></association>
    </resultMap>
     
     
  	<select id="getEmpOneDeptList" resultMap="empDeptMap">
       <![CDATA[
             select * from emp, dept where emp.deptno = dept.deptno
        ]]>
    </select>
    
   	<resultMap id="salGradeMap" type="SalVO">
       <result property="grade" column="grade"/>
       <result property="losal" column="losal"/>
       <result property="hisal" column="hisal"/>
    </resultMap>

	<resultMap id="empSalMap" type="SalEmpVO">
		<id property="empno" column="empno" />
		<result property="ename" column="ename" />
		<result property="job" column="job" />
		<result property="mgr" column="mgr" />
		<result property="hiredate" column="hiredate" />
		<result property="sal" column="sal" />
		<result property="comm" column="comm" />
		<result property="deptno" column="deptno" />
		<association property="salGrade" resultMap="salGradeMap"></association>
		<association property="dept" resultMap="deptOneMap"></association>
	</resultMap>
    
    
    <select id="getSalGradeList" resultMap="empSalMap">
   		<![CDATA[
     		SELECT ENAME, SAL, GRADE FROM EMP, SALGRADE WHERE SAL BETWEEN LOSAL AND HISAL
    	]]>
    </select>
    
	<select id="getInfoTable" resultMap="empSalMap">
		<![CDATA[
			SELECT ENAME, SAL, emp.deptno , loc, GRADE FROM EMP join dept on emp.deptno = dept.deptno join SALGRADE on EMP.SAL BETWEEN SALGRADE.LOSAL AND SALGRADE.HISAL
   		]]>
    </select>
     -->
    
     <resultMap id="deptMap2" type="DeptVO">
        <result property="deptno" column="deptno"/>
       <result property="loc" column="loc"/>
       <result property="dname" column="dname"/>    
   </resultMap>     
    
    <resultMap id="empMap2" type="EmpVO" >
       <result property="empno" column="empno"/>
       <result property="ename" column="ename"/>
       <result property="job" column="job"/>
       <result property="mgr" column="mgr"/>
       <result property="hiredate" column="hiredate"/>
       <result property="sal" column="sal"/>
       <result property="comm" column="comm"/>
       <result property="deptno" column="deptno"/>
    </resultMap>
    
    <resultMap id="salgradeMap" type="SalVO">
        <result property="grade" column="grade"/>
       <result property="losal" column="losal"/>
       <result property="hisal" column="hisal"/>    
    </resultMap>
    
    <resultMap id="EmpSalgradeMap" type="EmpSalgradeVO" >
    	<association property="emp" resultMap="empMap2"></association>
    	<association property="salgrade" resultMap="salgradeMap"></association>
    
    </resultMap>
    
	<select id="getEmpSalgrade" resultMap="EmpSalgradeMap">
   		<![CDATA[
     		SELECT * FROM EMP, SALGRADE WHERE SAL BETWEEN LOSAL AND HISAL
    	]]>
    </select>
    
  	<resultMap id="EmpDeptSalgradeMap" type="EmpDeptSalgradeVO" >
    	<association property="emp" resultMap="empMap2"></association>
    	<association property="salgrade" resultMap="salgradeMap"></association>
    	<association property="dept" resultMap="deptMap2"></association>
    </resultMap>
    
    <select id="getEmpDeptSalgrade" resultMap="EmpDeptSalgradeMap"  >
		<![CDATA[
			SELECT * FROM EMP join dept on emp.deptno = dept.deptno join SALGRADE on EMP.SAL BETWEEN SALGRADE.LOSAL AND SALGRADE.HISAL
   		]]>    	
    </select>
    
    
     
</mapper>


